@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: "Open Sans", sans-serif;
  background: #27354c;
  color: #f0f0f0;
}

h2 {
  font-size: 2rem;
}
@media only screen and (max-width: 768px) {
  h2 {
    font-size: 1.5rem;
  }
}

h3 {
  font-size: 1.5rem;
  font-weight: 500;
}
@media only screen and (max-width: 768px) {
  h3 {
    font-size: 1.3rem;
  }
}

h5 {
  font-size: 1.5rem;
}
@media only screen and (max-width: 768px) {
  h5 {
    font-size: 1.3rem;
  }
}

p,
li,
span {
  font-size: 1.3rem;
}
@media only screen and (max-width: 768px) {
  p,
  li,
  span {
    font-size: 1rem;
  }
}

nav {
  position: fixed;
  top: 0;
  z-index: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}
nav .logo {
  color: #f0f0f0;
  text-decoration: none;
  font-size: 2rem;
  font-weight: 400;
  margin: 0.5rem;
}
nav .nav-menu {
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 1.5rem;
  position: absolute;
  top: 20rem;
}
nav .nav-menu .nav-item .nav-link {
  color: #f0f0f0;
  font-size: 1.1rem;
  transition: 0.5s all ease-in-out;
}
nav .nav-menu .nav-item .nav-link:hover {
  display: inline-block;
  transform: scale(1.25);
}
@media only screen and (max-width: 768px) {
  nav .nav-menu {
    flex-direction: row;
    justify-content: flex-end;
    top: 1rem;
    right: 1rem;
  }
}

.container #hero {
  grid-area: hero;
  padding: 5rem;
  margin: 5rem;
}
@media only screen and (max-width: 768px) {
  .container #hero {
    padding: 0rem;
    margin: 1rem;
  }
}
.container #hero .intro h1 {
  color: #f0f0f0;
  font-size: 2.5rem;
}
.container #hero .intro p {
  position: relative;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  padding-top: 1rem;
}
.container #hero .intro #typewriter:after {
  content: "_";
  animation: blink 500ms linear infinite alternate;
}
@keyframes blink {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.container #hero .intro button {
  margin-top: 2rem;
  padding: 1rem 1.5rem;
  background: none;
  border: 1px solid #f0f0f0;
  letter-spacing: 0.1rem;
  transition: all 0.5s ease-in-out;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 1rem;
  color: #f0f0f0;
}
.container #hero .intro button:hover {
  background: #f0f0f0;
  color: #27354c;
}
@media only screen and (max-width: 768px) {
  .container #hero .intro {
    padding-top: 30%;
  }
}
.container #about {
  grid-area: about;
  margin: 5rem;
  padding: 5rem;
}
@media only screen and (max-width: 768px) {
  .container #about {
    padding: 0rem;
    margin: 5rem 1rem;
  }
}
.container #about h2 {
  display: inline-block;
}
.container #about h2::after {
  content: "";
  display: block;
  width: 50%;
  height: 3px;
  background-color: #f0f0f0;
  margin-top: 0.5rem;
}
.container #skill-timeline {
  margin: 5rem;
  padding: 5rem;
  grid-area: skill;
}
@media only screen and (max-width: 768px) {
  .container #skill-timeline {
    padding: 0rem;
    margin: 5rem 1rem;
  }
}
.container #skill-timeline h2 {
  display: inline-block;
}
.container #skill-timeline h2::after {
  content: "";
  display: block;
  width: 50%;
  height: 3px;
  background-color: #f0f0f0;
  margin-top: 0.5rem;
}
.container #skill-timeline .timeline-body {
  position: relative;
  margin: 7rem;
  padding: 5rem;
}
@media only screen and (max-width: 768px) {
  .container #skill-timeline .timeline-body {
    padding: 0rem;
    margin: 5rem 1rem;
  }
}
.container #skill-timeline .timeline-body::after {
  content: "";
  width: 3px;
  height: 100%;
  background-color: #f0f0f0;
  position: absolute;
  top: 0;
}
.container #skill-timeline .timeline-body .timeline-item {
  position: relative;
}
.container #skill-timeline .timeline-body .timeline-item::after {
  content: "";
  width: 18px;
  height: 18px;
  border-radius: 50%;
  border: 1px solid #f0f0f0;
  background: #f0f0f0;
  position: absolute;
  left: -8px;
  top: 0;
  z-index: 9;
}
.container #skill-timeline .timeline-body .timeline-item .content {
  margin-left: 1.5rem;
  padding-bottom: 3rem;
}
.container #skill-timeline .timeline-body .timeline-item .content .title {
  margin-bottom: 1rem;
}
.container #skill-timeline .timeline-body .timeline-item .content li {
  list-style: none;
}
.container #project {
  grid-area: project;
  margin: 5rem;
  padding: 5rem;
}
@media only screen and (max-width: 768px) {
  .container #project {
    margin: 1rem;
    padding: 0rem;
  }
}
.container #project h2 {
  display: inline-block;
}
.container #project h2::after {
  content: "";
  display: block;
  width: 50%;
  height: 3px;
  background-color: #f0f0f0;
  margin-top: 0.5rem;
}
.container #project .project-container .project-wrapper {
  margin: 7rem 0rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media only screen and (max-width: 768px) {
  .container #project .project-container .project-wrapper {
    margin: 5rem 0rem;
  }
}
.container #project .project-container .project-wrapper .wrapper {
  position: relative;
  width: 100%;
}
.container #project .project-container .project-wrapper .wrapper img {
  display: block;
  position: relative;
  width: 100%;
  height: auto;
}
.container #project .project-container .project-wrapper .wrapper .overlay {
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  position: absolute;
  width: 100%;
  height: auto;
  opacity: 0.3;
  transition: 0.5s ease;
  background-color: #27354c;
}
.container #project .project-container .project-wrapper .wrapper .overlay:hover {
  display: none;
}
.container #project .project-container .project-wrapper .project-info {
  width: 70%;
  height: auto;
  background: #27354c;
  padding: 5%;
  margin-left: -20%;
  position: relative;
  color: #f0f0f0;
  box-shadow: 3px 3px 5px white;
}
.container #project .project-container .project-wrapper .project-info p {
  margin-top: 1rem;
}
.container #project .project-container .project-wrapper .project-info button {
  border: none;
  font-size: 1rem;
  padding: 0.5rem 1rem;
  background: #f0f0f0;
  color: #27354c;
}
@media only screen and (max-width: 768px) {
  .container #project .project-container .project-wrapper .project-info {
    margin-top: -10%;
    width: 80%;
    margin-left: unset;
    text-align: center;
  }
}
@media only screen and (max-width: 768px) {
  .container #project .project-container .project-wrapper {
    flex-direction: column;
  }
}
.container footer {
  grid-area: footer;
  margin: 5rem 0rem;
  text-align: center;
}/*# sourceMappingURL=main.css.map */