* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@200;300;400;500;600;700;800;900&display=swap');

body {
    font-family: 'Source Code Pro', monospace;
    background: rgb(0, 27, 50);
    color: rgb(225, 225, 225);
}

p,
li,
span {
    font-size: 1.2rem;
}


nav {
    position: fixed;
    top: 0;
    z-index: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;

    .logo {
        color: rgb(103, 147, 0);
        text-decoration: none;
        font-size: 2rem;
        font-weight: 400;
        margin: .5rem;
    }

    .nav-menu {
        list-style: none;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        gap: 1.5rem;
        position: absolute;
        top: 20rem;

        .nav-item {

            .nav-link {
                color: white;
                font-size: 1.3rem;
                transition: .5s all ease-in-out;

                &:hover {
                    display: inline-block;
                    transform: scale(1.25);
                }
            }
        }

        @media only screen and (max-width: 768px) {
            flex-direction: row;
            justify-content: flex-end;
            position: fixed;
            top: 1rem;
            right: 1rem;
        }
    }


}

.container {
    display: grid;
    grid-gap: .2rem;
    height: auto;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(5, auto);
    grid-template-areas:
        "hero hero"
        "about about"
        "skill skill"
        "project project"
        "footer footer"
    ;

    #hero {
        grid-area: hero;
        padding: 5rem;
        margin: 5rem;

        .intro {

            p {
                position: relative;
                top: 0;
                bottom: 0;
                right: 0;
                left: 0;
                padding-top: 1rem;
                font-weight: bold;
            }

            #typewriter {
                &:after {
                    content: "_";
                    animation: blink 500ms linear infinite alternate;
                }

                @keyframes blink {
                    0% {
                        opacity: 0;
                    }

                    100% {
                        opacity: 1;
                    }
                }
            }

            button {
                margin-top: 2rem;
                padding: 1rem 1.5rem;
                background: none;
                border: 1px solid rgb(103, 147, 0);
                letter-spacing: .1rem;
                transition: all .5s ease-in-out;
                cursor: pointer;
                text-transform: uppercase;
                font-weight: 600;
                font-size: 1rem;
                color: rgb(230, 230, 230);
            }

            button:hover {
                background: white;
                color: black;
            }

            @media only screen and (max-width: 450px) {
                padding-top: 40%;
            }

        }
    }


    #about {
        grid-area: about;
        margin: 5rem;
        padding: 5rem;

        h2 {
            display: inline-block;
        }

        h2::after {
            content: "";
            display: block;
            width: 50%;
            height: 3px;
            background-color: rgb(103, 147, 0);
            margin-top: .5rem;
        }

        p {

            @media only screen and (max-width: 450px) {
                text-align: unset;
                border: unset;
                box-shadow: unset;
                padding: unset;
            }
        }
    }

    #skill-timeline {
        margin: 5rem;
        padding: 5rem;
        grid-area: skill;

        h2 {
            display: inline-block;
        }

        h2::after {
            content: "";
            display: block;
            width: 50%;
            height: 3px;
            background-color: rgb(103, 147, 0);
            margin-top: .5rem;
        }

        .timeline-body {
            position: relative;
            margin: 7rem;
            padding: 5rem;

            &::after {
                content: "";
                width: 3px;
                height: 100%;
                background-color: rgb(103, 147, 0);
                position: absolute;
                // left: -1px;
                top: 0;
            }

            .timeline-item {
                position: relative;

                &::after {
                    content: "";
                    width: 18px;
                    height: 18px;
                    border-radius: 50%;
                    border: 3px solid rgb(103, 147, 0);
                    background: rgb(0, 28, 54);
                    position: absolute;
                    left: -8px;
                    top: 0;
                    z-index: 9;
                }

                .time {
                    position: absolute;
                    left: -140px;
                    opacity: 0.7;
                }

                .content {
                    margin: 1rem;
                    padding-bottom: 3rem;

                    .title {
                        margin-bottom: 1rem;
                    }

                    li {
                        list-style: none;
                    }
                }
            }
        }

    }



    #project {
        grid-area: project;
        margin: 5rem;

        h2 {
            display: inline-block;
            margin-left: 5rem;
        }

        h2::after {
            content: "";
            display: block;
            width: 50%;
            height: 3px;
            background-color: rgb(103, 147, 0);
            margin-top: .5rem;
        }

        .project-container {

            .project-wrapper {
                margin: 5rem;
                display: flex;
                align-items: center;
                justify-content: center;

                .wrapper {
                    position: relative;
                    width: 100%;

                    img {
                        display: block;
                        position: relative;
                        width: 100%;
                        height: auto;
                    }

                    .overlay {
                        top: 0;
                        bottom: 0;
                        right: 0;
                        left: 0;
                        position: absolute;
                        width: 100%;
                        height: auto;
                        opacity: 0.5;
                        transition: .5s ease;
                        background-color: rgb(103, 147, 0);

                        &:hover {
                            display: none;
                        }
                    }
                }

                .project-info {
                    width: 70%;
                    height: auto;
                    background: rgb(0, 29, 50);
                    padding: 3%;
                    margin-left: -20%;
                    position: relative;

                    button {
                        border: none;
                        font-size: 1rem;
                        padding: 2%;
                    }

                    @media only screen and (max-width: 450px) {
                        margin-top: -10%;
                        width: 70%;
                        margin-left: unset;
                        text-align: center;
                    }
                }

                @media only screen and (max-width: 450px) {
                    flex-direction: column;
                }
            }

        }
    }




    footer {
        grid-area: footer;
        margin: 5rem 0rem;
        text-align: center;
    }

}


@media only screen and (max-width: 450px) {
    .container {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(11, auto);
        grid-template-areas:
            "hero"
            "hero"
            "about"
            "about"
            "skill"
            "project"
            "footer"
        ;
    }
}